
*{
    font-size: 16px;

}
.rows{
    text-align: center;
    font-style: 600;
}
.row:hover{
    background-color: #5f5f63;
    opacity: 0.9;
    
}
.heading{
    width: 100%;
    text-align: center;
    background-color: #f0ebfc;
    color: #79797a;
    height: 55px;
    display: flex;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}
.searchBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    text-align: center;
}
  
.logoBox img{
    width: 80px;
    margin: auto; 
    transition: transform 1s;
}
  
@keyframes scroll {
    0% {
        transform:translateX(0);
    }
    100%{
        transform:translateX(calc(-250px * 9));
    }
}
.logoBox img:hover{
    transform: translatez(20px);
}
.mainBox-track{
    display: flex;
    width: calc(200px * 25);
    animation: scroll 60s linear infinite;
}
.mainBox h1{
    font-size: 25px;
}
.mainBox{
    display: grid;
    justify-content: center ;
    margin-top: 25px;
     
     
}
.price{
    font-style: normal;
    color: gold;
    
}
.logoBox{
    width: 300px;
    height: 220px;
    display: flex;
    /* border: 1px solid red; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    padding:5px;
     color: white;
    
    border-radius: 15px;
     
    padding: 20px;
}

.logoBox h2{
    font-size: 15px;
    font-weight: 400;
    margin: auto;
    color: rgb(26, 224, 26);
}
.imageBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.symbol-btn{
    background-color: #f0ebfc;
    border-radius: 35px;
    padding: 5px;
    color: blue;
    border: 0px;
    margin-top: 5px;
    height: 22px;
    font-size: 12px; 
    width: 55px;

}
.searchBox p{
    margin-left: 35px;
    font-weight: 400;
}
input{
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    background-color: #f0ebfc;
    width: 400px;
     
    margin-left: 55px;
}

.TableContainer{ 
    width: 65%;
    margin: auto;
    border: 2px solid white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 10px;
    margin-top: 75px;
    margin-bottom: 100px;
    background-color: transparent;
    overflow-x: hidden;
}
input{
     
        padding-left: 16px;
        width: 300px;
        height: 50px;
        border-radius: 4px;
        border: none;
        background-image: linear-gradient(
          -225deg,
          #ac32e4 0%,
          #7918f2 48%,
          #4801ff 100%
        );
      
        color: #e2e2e2;
         
}
input::placeholder{
    color: white;
}
 .logo{
    width: 45px;
 }
input:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
 }

.view-btn{
    background-image: linear-gradient(
        -225deg,
        #942dc4 0%,
        #6417c2 48%,
        #440ece 100%
      );
    border-radius: 5px;
    padding: 5px;
    color: white;
    border: 0px;
    margin-top: 5px;
    height: 32px;
    width: 90px;
    margin-left: 15px;
}

 
.backBtn{
    text-align: center;
     
}

button:hover{
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;   
}