@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap");

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  width: 100%;
  /* background-color: black;
  color: white; */
  }
a{
  text-decoration: none;
  }

  .imgDetail{
    width: 155px;
  }

#details{
  display: flex;
  flex-direction: column;
   
}

.name{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 55px;
} 
#details p{
  font-size: 25px;
}